@model IEnumerable<MVC5CourseHomeWork.Models.客戶聯絡人>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm("Search", "ContactPerson", FormMethod.Get, null))
{
    <span>搜尋條件</span>
    @Html.TextBox("name", null, htmlAttributes: new { @placeholder = "請輸入姓名關鍵字" })
    @Html.TextBox("jobTitle", null, htmlAttributes: new { @style = "margin:0 10px", placeholder = "請輸入職稱" })
    <input type="submit" value="Search" class="btn btn-default" />
}
<a href="@Url.Action("GetExcel", "ContactPerson")">匯出Excel</a>

@using (Html.BeginForm("BatchUpdate", "ContactPerson"))
{
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.職稱)
            @Html.ActionLink("↓", "Index", new { sortName = "職稱", sortOrder = "ASC" })
            @Html.ActionLink("↑", "Index", new { sortName = "職稱", sortOrder = "DESC" })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.姓名)
            @Html.ActionLink("↓", "Index", new { sortName = "姓名", sortOrder = "ASC" })
            @Html.ActionLink("↑", "Index", new { sortName = "姓名", sortOrder = "DESC" })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
            @Html.ActionLink("↓", "Index", new { sortName = "Email", sortOrder = "ASC" })
            @Html.ActionLink("↑", "Index", new { sortName = "Email", sortOrder = "DESC" })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.手機)
            @Html.ActionLink("↓", "Index", new { sortName = "手機", sortOrder = "ASC" })
            @Html.ActionLink("↑", "Index", new { sortName = "手機", sortOrder = "DESC" })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.電話)
            @Html.ActionLink("↓", "Index", new { sortName = "電話", sortOrder = "ASC" })
            @Html.ActionLink("↑", "Index", new { sortName = "電話", sortOrder = "DESC" })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.客戶資料.客戶名稱)
            @Html.ActionLink("↓", "Index", new { sortName = "客戶名稱", sortOrder = "ASC" })
            @Html.ActionLink("↑", "Index", new { sortName = "客戶名稱", sortOrder = "DESC" })
        </th>
        <th></th>
    </tr>
    @{
        var data = Model.ToArray();
    }

    @for (var i = 0; i < data.Length; i++)
    {
        @Html.HiddenFor(modelItem => data[i].Id)
        <tr>
            <td>
                @Html.EditorFor(modelItem => data[i].職稱)
                @Html.ValidationMessageFor(model => data[i].職稱, "", new { @class = "text-danger" })
            </td>
            <td>
                @Html.DisplayFor(modelItem => data[i].姓名)
            </td>
            <td>
                @Html.DisplayFor(modelItem => data[i].Email)
            </td>
            <td>
                @Html.EditorFor(modelItem => data[i].手機)
                @Html.ValidationMessageFor(model => data[i].手機, "", new { @class = "text-danger" })
            </td>
            <td>
                @Html.EditorFor(modelItem => data[i].電話)
                @Html.ValidationMessageFor(model => data[i].電話, "", new { @class = "text-danger" })
            </td>
            <td>
                @Html.DisplayFor(modelItem => data[i].客戶資料.客戶名稱)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = data[i].Id }) |
                @Html.ActionLink("Details", "Details", new { id = data[i].Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = data[i].Id })
            </td>
        </tr>
    }
</table>


    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="更新" class="btn btn-default" />
        </div>
    </div>
}
