@model MVC5CourseHomeWork.ViewModels.LoginViewModel
<h1>@ViewBag.Message</h1>


<h2>Login to your account</h2>
@*<form class="form-horizontal" action="index.html" method="post">
        <fieldset>

            <div class="input-prepend" title="Username">
                <span class="add-on"><i class="halflings-icon user"></i></span>
                <input class="input-large span10" name="username" id="username" type="text" placeholder="type username" />
            </div>
            <div class="clearfix"></div>
            <div class="clearfix"></div>

    </form>*@


@using (Html.BeginForm("Login", "account", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    <div class="input-prepend" title="Username">
        @Html.LabelFor(model => model.帳號, htmlAttributes: new { @class = "add-on" })
        @Html.TextBoxFor(model => model.帳號, new { htmlAttributes = new { @class = "input-large span10", placeholder = Html.DisplayNameFor(a => a.帳號) } })
    </div>
    <div class="clearfix"></div>
    <div class="input-prepend" title="Password">
        @Html.LabelFor(model => model.密碼, htmlAttributes: new { @class = "add-on" })
        @Html.PasswordFor(model => model.密碼, new { htmlAttributes = new { @class = "input-large span10", placeholder = Html.DisplayNameFor(a => a.密碼) } })
    </div>
    <div class="clearfix"></div>
    <div class="button-login">
        <button type="submit" class="btn btn-primary">
            登入
        </button>
    </div>
    <div>
        @Html.ValidationMessageFor(model => model.帳號, "", new { @class = "text-danger text-error" })
        @Html.ValidationMessageFor(model => model.密碼, "", new { @class = "text-danger text-error" })
        @Html.ValidationSummary(true, "", new { @class = "text-danger text-error" })
    </div>
}
